logs/*
!.gitkeep
node_modules/
app/lib/
tmp
.DS_Store
.idea
/app/.sass-cache/46ec4fa68eb1218ca9c7a4b1396df5977f1512e4/app.scssc
/app/.sass-cache/95327b909a1c40dca75fb9336c4129dabca04d0b/
/lib/
credentials.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
app/.sass-cache/daafeac3736ce64f638a604d93ed378b274d49e2/app.scssc
