body {
  background-color: grey;
  color: ghostwhite;
  font-family: Arial, sans-serif;
  margin: 0; }

#topbar {
  background: black;
  color: white;
  height: 5%;
  width: 100%; }

@media (max-width: 500px) {
  #topbar {
    display: none; } }
#leaderboard {
  margin: 0px;
  background-color: #999999;
  border-radius: 0 0 0 1vw;
  float: right;
  max-width: 25vw;
  padding: 20px; }

#title {
  line-height: 5%;
  font-size: 250%;
  float: left; }

.md-button.card, .card {
  position: relative;
  display: inline-block;
  border-radius: 9%/6%;
  background-color: white;
  height: 90%;
  color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  margin: 2px;
  transition: all 0.25s; }

.card > img {
  position: relative;
  height: 71.6%;
  /*exact aspect ratio of cards */
  margin: 0; }

#blackCard {
  position: absolute;
  background-color: black;
  color: white;
  height: 50%;
  max-width: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition-timing-function: ease-out; }

#blackCard.cardSelected {
  left: 25%;
  transition-timing-function: ease-out; }

#selectedCard {
  position: absolute;
  max-width: 50%;
  height: 50%;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  padding: 0px; }

.cardContainer {
  position: absolute;
  background-color: grey;
  width: 100%;
  min-height: 200px;
  height: 30%;
  bottom: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s; }
  .cardContainer__card {
    top: 50%;
    transform: translate(0, -50%);
    height: 95%; }
  .cardContainer__card:not([disabled]):hover {
    background-color: #f3f3f3;
    transform: translate(0, -51.5%); }
  .cardContainer__card--notFocused {
    top: 120%; }

.movingCardContainer {
  position: absolute;
  background-color: grey;
  width: 100%;
  height: 70%;
  top: 0;
  /* Add something here to deal with min height 200px cards */ }
  .movingCardContainer__popUpText {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 85%;
    color: white;
    opacity: 90%;
    font-size: 2.5rem;
    text-align: center;
    white-space: nowrap;
    transition: opacity 0.09s; }
    .movingCardContainer__popUpText.ng-hide {
      opacity: 0;
      transition: opacity 1s; }
  @media (max-height: 667px) {
    .movingCardContainer {
      height: auto;
      top: 0;
      bottom: 200px; }
      .movingCardContainer__popUpText {
        top: auto;
        bottom: 10px; } }

.card.ng-hide {
  opacity: 0;
  width: 0;
  min-width: 0;
  transition: all 0.1s; }

.judgeContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll; }
  .judgeContainer__blackCard {
    position: relative;
    transform: translate(-50%, 0);
    height: 50%;
    background-color: black;
    left: 50%;
    top: 50%;
    margin-top: 5%;
    margin-bottom: 5%; }
    .judgeContainer__blackCard--choosing {
      top: 15%;
      height: 30%; }
  .judgeContainer__confirmBtn {
    display: block;
    width: 100%;
    height: 40px;
    background: red;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    transition: all 0.2s; }
    .judgeContainer__confirmBtn.ng-hide {
      margin-bottom: 0;
      height: 0;
      min-height: 0;
      transition: all 0.2s; }
  .judgeContainer__card {
    width: 100%; }
    .judgeContainer__card--selected {
      z-index: 2;
      transform: scale(1.06); }
    .judgeContainer__card:not([disabled]):hover {
      background-color: #f3f3f3; }

/*Menu Styles*/
#joinGame {
  position: absolute;
  height: 48%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%; }

/*# sourceMappingURL=app.css.map */
