<md-toolbar>

    <div class="md-toolbar-tools">
        <a href = "#!" class="md-icon-button" aria-label="Main Menu">
            <md-icon md-svg-icon="img/arrow_back-48dp.svg"></md-icon>
        </a>

        <h2 flex  style="text-align:center;">Players: 0/20</h2>
        <div layout="column" layout-align="center center" >

            <p style="margin:1px; font-size:10px;">Game Code</p>
            <h1>ABCD</h1>

        </div>
    </div>

</md-toolbar>


<md-input-container class="cg__input">
    <label>Max Players</label>
    <input type="number" step="1" min="0" max = "20" >
</md-input-container>

<div layout="column">
    <md-button flex ng-click="showCardPacks = !showCardPacks" class = "cg__btn" layout="row"> <!-- needs styling work -->
        <div flex> Card Packs</div>
        <md-icon md-svg-icon="img/join_game.svg"  style="transition: all 0.2s;" ng-style="showCardPacks ? {transform: 'rotate(90deg)'} : {transsform:'none'}"></md-icon>
    </md-button>


    <md-list ng-show="showCardPacks" class="cg__packList md-2-line">
        <md-list-item ng-repeat="pack in cardPacks" ng-show="showCardPacks" class="cg__packList__item">
            <img ng-src="img/temp_cards-48dp.svg">
            <div class="md-list-item-text" flex>
                <h3>{{pack.name}}</h3>
                <p>{{pack.desc}}</p>
            </div>

            <md-checkbox ng-model="pack.selected"></md-checkbox>
        </md-list-item>


    </md-list>

    <md-button class = "cg__btn">
        Advanced Settings

    </md-button>

</div>