<div ng-controller="cardController" layout="column" style="height: 500px; overflow:hidden;" md-swipe-right="openSideNav()" md-swipe-left = "closeSideNav()" >


    <md-sidenav class="md-sidenav-left" md-component-id="left" md-swipe-right="openSideNav()" md-swipe-left = "closeSideNav()">
        <md-toolbar>
            <h1>Test :)</h1>
        </md-toolbar>
        <a class = "md-button" md-whiteframe="5" href="#!" style="color:black">Menu</a>
    </md-sidenav>


    <div class="movingCardContainer" ng-hide="gamePlay.judging">



        <div layout="column" ng-class="{'cardSelected': gamePlay.selectedCard != null  }" class="card cardContainer__card" id="blackCard">

            <div class="cardContainer__card__textContainer">
                {{gamePlay.blackCard}}
            </div>

            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">


        </div>


        <md-button ng-show="gamePlay.selectedCard !== null" class="card cardContainer__card" id="selectedCard"  ng-click = "gamePlay.selectCard(gamePlay.selectedCard)">

            <div class = "cardContainer__card__textContainer">
                {{gamePlay.selectedCard.text}}

            </div>


            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </md-button>

        <div class = 'movingCardContainer__popUpText' ng-show="showPopUp">
            {{popUpMessage}}
        </div>


    </div>


    <div class="cardContainer" md-swipe-down = 'unfocusCards()' md-swipe-up = 'focusCards()' ng-hide="gamePlay.judging" >
        <md-button  ng-repeat="card in gamePlay.myHand" class="card cardContainer__card " ng-class = "{'cardContainer__card--notFocused' : !cardsFocussed}" ng-click = "gamePlay.selectCard(card)" ng-hide="card.selected">

            <div class="cardContainer__card__textContainer">
                {{card.text}} <!--TODO make the card text into card objects with selected and stuff-->
            </div>

            <!--This is an empty image which is used to preserve aspect ratio-->
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </md-button>
    </div>


    <!-- Page setup when judge -->

    <div style="background:grey;" ng-controller = "judgeController" class="judgeContainer" ng-show = "gamePlay.judging"  md-swipe-right="openSideNav()" md-swipe-left = "closeSideNav()">

        <div class="card judgeContainer__blackCard" ng-class = "{'judgeContainer__blackCard--choosing' : judgeChoosing}" ng-click="judgeChoosing = !judgeChoosing" >
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </div>

        <md-button class = "md-button judgeContainer__confirmbtn" ng-show = 'chosenJudgeCard != null' ng-click="confirmJudgeCard()">
            Confirm Card Selection
        </md-button>

        <md-grid-list md-cols = "{{getCardColumns()}}" md-row-height = "63:88" md-gutter = "0.5%" style="margin-left:8px; margin-right:8px;">

            <md-grid-tile ng-repeat="card in judgeCards">
                <md-button ng-disabled="!gamePlay.judging" class="card judgeContainer__card  " style="height: 100%" ng-class="{'judgeContainer__card--selected': card.selected}" ng-click = 'card.onClick()'>
                    {{card.text}}
                </md-button>

            </md-grid-tile>

        </md-grid-list>
    </div>



</div>