<section flex  style="height:100%" ng-controller="cardController as cCtrl" ng-init="initGameplay()" layout="column"  md-swipe-right="openSideNav()" md-swipe-left = "closeSideNav()" >

    <md-toolbar layout="column">

        <div class="md-toolbar-tools cg__toolbar" style="z-index: 10" ng-style = "!gamePlay.isJudge ? {'box-shadow' : ' 0 0 15px rgba(100, 100, 100, 100)'} : {'box-shadow' :'none'}" >
            <md-button ng-click="confirmQuit()" class="md-icon-button" aria-label="Main Menu">
                <md-icon md-svg-icon="img/arrow_back-48dp.svg" style="fill:white;"></md-icon>
            </md-button>

            <h2 flex  style="text-align:center;" ng-hide="gamePlay.judging">Time Left: {{gamePlay.roundTime}}</h2>
            <h2 flex  style="text-align:center;" ng-show="gamePlay.judging">Judging Ends: {{gamePlay.judgeTime}}</h2>



            <div layout="column" layout-align="center center" >

                <p style="margin:1px; font-size:10px;">Game Code</p>
                <h1>{{globals.gameId}}</h1>

            </div>
        </div>

        <div ng-show="gamePlay.isJudge"   ng-style = "gamePlay.isJudge ? {'box-shadow' : ' 0 0 15px rgba(100, 100, 100, 100)'} : {'box-shadow' :'none'}" class="cg__toolbar" flex>
            <div style="text-align:center;"> You are the Card Czar </div>
        </div>

    </md-toolbar>

    <md-content flex layout="horizontal">

        <md-sidenav ng-style="$mdMedia('gt-sm') ? {'position' : 'static'} : {'position' : 'absolute'} "  class="md-sidenav-left sideNav" md-component-id="left" md-swipe-right="openSideNav()" md-swipe-left = "closeSideNav()" md-is-locked-open="$mdMedia('gt-sm')">



            <md-content>


                <h2 flex class="cg__heading" >Info</h2>
                <md-list>

                    <md-list-item>
                        <h4 flex>Your Name</h4>
                        {{globals.username}}
                    </md-list-item>

                    <md-list-item>
                        <h4 flex>Players</h4>
                        {{game.players.length}}/{{game.maxPlayers}}
                    </md-list-item>

                    <md-list-item>
                        <h4 flex>Winning Score</h4>
                        {{gamePlay.maxPoints}}
                    </md-list-item>

                    <md-list-item ng-show="game.name != undefined">
                        <h4 flex>Game Name</h4>
                        {{game.name}}
                    </md-list-item>



                </md-list>



                <h3 ng-show="game.isAdmin" style="text-align:center">You are Game Admin</h3>


                <h2 flex class = "cg__heading" style="padding-top: 10vh;"> Players</h2>
                <md-list>
                    <md-list-item ng-repeat="player in game.players">
                        <h3 style="padding-right:20px;">{{player.name}}</h3>

                        <p flex style="text-align:center;" ng-show = "player.hasPicked && !player.isJudge && !gamePlay.judging">Waiting</p>
                        <p flex style="text-align:center;" ng-show = "!player.hasPicked && !player.isJudge && !gamePlay.judging">Selecting Card</p>
                        <p flex style="text-align:center;" ng-show="player.isJudge">Card Czar</p>
                        <p flex ng-show="!player.isJudge && gamePlay.judging"></p>




                        <md-icon ng-show="game.isAdmin" ng-style="player.admin ? {'visibility': 'hidden'} : {'visibility' : 'visible'}" class="md-secondary" md-svg-icon="img/remove_player-48dp.svg" ng-click="game.removePlayer(player.name)">
                            <md-tooltip md-direction="left" md-delay = "100">Remove Player</md-tooltip>
                        </md-icon>


                        <h3 style="padding:5px">{{player.points}}</h3>


                    </md-list-item>
                </md-list>




            </md-content>


        </md-sidenav>


        <div id="gameContainer"  flex md-swipe-right="openSideNav()" md-swipe-left = "closeSideNav()">

            <div class="selectingContainer" ng-hide="gamePlay.judging || gamePlay.isJudge;" md-swipe-right="openSideNav()" md-swipe-left = "closeSideNav()">



                <black-card  id="blackCard">
                    <ng-bind-html
                            ng-bind-html="gamePlay.blackCard.text">
                    </ng-bind-html>
                </black-card>


                    <white-card ng-show="gamePlay.selectedCards.length > 0" class="selectedCard" ng-repeat="card in gamePlay.selectedCards track by $index"   ng-style="$index === 0 ?  {'margin-left':'0'} : {}" ng-click = "gamePlay.selectCard(card)">

                        <div ng-show="gamePlay.blackCard.pick > 1" class="judgeContainer__countVal" flex>{{$index+1}}</div>
                        <ng-bind-html
                                ng-bind-html="card.text">
                        </ng-bind-html>

                    </white-card>



            </div>


            <div class="cardContainer" layout="row" md-swipe-right="openSideNav()" md-swipe-left = "closeSideNav()" ng-hide="gamePlay.judging|| gamePlay.isJudge;" >
                <white-card  ng-repeat="card in gamePlay.myHand"  class="cardContainer__card " ng-click = "gamePlay.selectCard(card)" ng-hide="card.selected">
                    <ng-bind-html
                            ng-bind-html="card.text">
                    </ng-bind-html>
                </white-card >
            </div>


            <!-- Page setup when judge -->

            <div style="background:grey;" ng-controller = "judgeController" class="judgeContainer" ng-show = "gamePlay.judging || gamePlay.isJudge;"   md-swipe-right="openSideNav()" md-swipe-left = "closeSideNav()">

                <black-card class="judgeContainer__blackCard" ng-class = "{'judgeContainer__blackCard--choosing' : judgeChoosing}" ng-click="judgeChoosing = !judgeChoosing"  >

                    <ng-bind-html
                            ng-bind-html="gamePlay.blackCard.text">
                    </ng-bind-html>

                </black-card>

                <md-button class = "judgeContainer__confirmbtn" ng-show = 'gamePlay.selectedJudgeIdx > -1' ng-click="gamePlay.confirmJudgeCard()">
                    Confirm Card Selection
                </md-button>


                <div layout="row" layout-wrap="" layout-align="center stretch" style="position:relative;">


                    <div class="judgeContainer__cardContainer" layout="row"    ng-repeat="cards in gamePlay.judgeCards track by $index">
                        <white-card ng-repeat="card in cards track by $index" ng-class="{'judgeContainer__card--won': $parent.$index === gamePlay.winningCardsIdx, 'judgeContainer__card--selected': $parent.$index === gamePlay.selectedJudgeIdx, 'judgeContainer__card--notJudge' : !gamePlay.isJudge || !gamePlay.judging}" class="judgeContainer__card" ng-click = "gamePlay.pickJudgeCards($parent.$index)">


                            <h2 style="text-align:center;" ng-show="$parent.$parent.$index === gamePlay.winningCardsIdx">Winning Card</h2>
                            <div ng-show="gamePlay.blackCard.pick > 1 && gamePlay.judging" class="judgeContainer__countVal" flex>{{$index+1}}</div>
                            <ng-bind-html ng-show="gamePlay.judging"
                                    ng-bind-html="card">
                            </ng-bind-html>
                        </white-card>
                    </div>

                </div>



            </div>

        </div>
    </md-content>



</section>