<md-dialog aria-label="Pick your Name" ng-controller="dialogController">


        <md-dialog-content style="">
            <div style="padding:20px">
                <h2> Pick a Name</h2>

                <h3>This is the name other players will see you with in game</h3>

                <md-input>
                    <md-input-container>
                        <label>Your Name</label>
                        <input name="username" ng-model="username" ng-change="usrNameChange()">

                        <div class="hint" style="color:red" ng-show="!isNameValid && username !== ''">This username is already taken</div>
                        <div class="hint" style="color:red" ng-show="username === ''">You must enter a username</div>

                    </md-input-container>
                </md-input>
            </div>
        </md-dialog-content>

        <md-dialog-actions style="padding:0; text-align:center; ">




                <md-button class = "mainMenu__btn" style="position:static; transform: none; margin:20px;" ng-disabled="!isNameValid || username === ''" ng-click="usrSetName()" flex>
                    Confirm Name
                </md-button>


        </md-dialog-actions>





</md-dialog>